body {
  background: #424242
    url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  color: #fff;
}

.btn {
  background-color: #ee6b2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: #da471b;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
